<html lang="en">
<head>
{% block head %}
<title>SuperApp{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta charset="utf-8">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel= "stylesheet" type= "text/css">
<link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel= "stylesheet" type= "text/css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script type="text/javascript">
function updateCart()
{
    for (i=0; i<{{ dish_list | length}}; ++i) {
        var x=document.getElementById("dish_" + i)
        if (x.value == "on") {
            document.write("<br>" + x.name + x.value);
        }
    }
}
</script>

{% endblock %}
</head>
<body style="min-height: 2000px; padding-top: 70px; padding-bottom: 70px">
<style type="text/css">
b {
font-weight: normal;
color: #c00;
}
.rurl {
color: green;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
</style>
<div class="container-fluid">
    <div class="navbar navbar-fixed-top"> 
        <div class="navbar-inner"> 
            <div class="container-fluid">
                <a class="brand" href="#">XiaoZao</a>
                <div class="container">
                    <ul class="nav">
                        <li>
                            <form action={{ url_for('list') }} method="post" class="navbar-form">
                                <div class="control-group">
                                    <div class="controls">
                                        <input data-provide="datepicker" data-date-format="yyyy/mm/dd/D" name="date" placeholder="请选择订餐日期" id="inputDate" value={{ date }}>
                                        <button type="submit" class="btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form action={{ url_for('order') }} method="post">
    <div class="row-fluid">
        <div class="span1">
            <ul class="nav nav-list affix">
                <li class="nav-header">菜品类别</li>
                {% for category in category_list %}
                <li><a href="{{ url_for('list', category=category) }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span9">
                    {% for dish in dish_list %}
                    {% if loop.index0 % 3 == 0 %}
                    <div class="row-fluid" id="result_row">
                    {% endif %}
                    <div class="span4">
                        <a href=#>
                            <img src={{ dish.image }}></img>
                        </a>
                        <h4>
                        <label class="checkbox">
                              <input type="checkbox" name={{ dish.name }} id="dish_{{ loop.index0 }}" onchange="updateCart()">
                              {{ dish.name }}
                        </label>
                        </h4>
                        <p>
                        价格: {{ dish.price }}
                        </p>
                        <p>
                        供应时间: {{ dish.day }}
                        </p>
                    </div>
                    {% if loop.index0 % 3 == 2 or loop.revindex == 0 %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="control-group">
                    <div class="controls">
                    <input type="hidden" name="date" value={{date}}/>
                    <input type="text" name="mobile" placeholder="手机号"/>
                    <button type="submit" class="btn">Order</button>
                    </div>
                </div>
        </div>
        <div class="span2">
            <ul>
                <li class="nav-header">您的菜单</li>
                {% for day in ["MON", "TUE", "WED", "THU", "FRI"] %}
                <li><a href="{{ url_for('list', day=day) }}">{{ day }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="navbar navbar-fixed-bottom"> 
        <div class="navbar-inner"> 
            <div class="container">
                    <ul class="nav">
                    <li>
                    <div class="control-group">
                        <div class="controls">
                        <input type="hidden" name="date" value={{date}}/>
                        <input type="text" name="mobile" placeholder="手机号"/>
                        <button type="submit" class="btn">Order</button>
                        </div>
                    </div>
                    </li>
                    </ul>
            </div>
        </div>
    </div>
    </form>

</div>
</body>
</html>
