<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {{ item['item_name'] }} - 爸爸值得买
        </title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/custom.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery-latest.js">
        </script>
        <script src="/static/js/bootstrap.min.js">
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="{{ url_for('list_item', category=item['category']) }}">{{ item['category'] }}</a></li>
                    <li class="active">{{ item['item_name'] }}</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="#">
                        <img src="/static/img/square/{{ item['image_path'] }}.jpg" alt="" class="media-object">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <h3>{{ item['item_name'] }}</h3>
                    <p>
                    <span>推荐指数:</span>
                    {% for i in range(item['star']) %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    {% endfor %}
                    {% for i in range(5-item['star']) %}
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    {% endfor %}
                    </p>
                    <p> 历史最低价: <span class="price">¥{{ item['recommended_rmb_price'] }}</span> </p>
                    <p> 当前最低价: <span class="price">¥{{ item['current_rmb_price'] }}</span> </p>
                    <p> 购买渠道: </p>
                    <table class="table">
                        {% for item in item['shopping_data'] %}
                        <tr>
                            <td>
                                <img src=/static/img/logo/{{ item["site"] }}.jpg class="brand_img img-responsive">
                            </td>
                            <td>
                                {% if item['price'] < 0 %}
                                <p>已售罄</p>
                                {% else %}
                                <p>
                                    <span class="price">¥{{ item['rmb_price'] }}</span>
                                    {% if item['currency'] != 'CNY' %}
                                        ({{ item['currency'] }} {{ item['price'] }})
                                    {% endif %}
                                </p>
                                {% endif %}
                            </td>
                            <td>
                                <a href = {{ item["url"] }}><span class="label label-success">直达链接</span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <h3>
                推荐理由
            </h3>
            {% for recommended_site, recommended_list in item['recommended_data'].items() %}
            <h4>
                来自“什么值得买”的推荐
            </h4>
            {% if recommended_list %}
            <blockquote>
                <p>
                {{ recommended_list[0]["description"] }}
                </p>
                <div class="row">
                    {% for recommended_img in recommended_list[0]['img_list'] %}
                    <div class="col-xs-12 col-sm-3">
                        <img src="/static/img/square/{{ recommended_img }}.jpg" alt="" class="img-responsive">
                    </div>
                    {% endfor %}
                </div>
                <footer>
                    <a href="{{recommended_list[0]['url']}}">
                        {{ recommended_list[0]['title'] }}
                    </a>
                    <cite title={{ item.site }}>
                        {{ recommended_list[0]['site_name'] }}
                    </cite>
                </footer>
            </blockquote>
            {% endif %}
            <div class="row">
                <h5>
                    其他历史推荐
                </h5>
            </div>
            {% for other_recommended_item in recommended_list[1:3] %}
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <img src="/static/img/square/{{ other_recommended_item['thumbnail'] }}.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-xs-9 col-sm-10">
                    <p class="list_title">
                    <a href={{ other_recommended_item['url'] }}>
                        {{ other_recommended_item['title'] }}
                    </a>
                    </p>
                    <p class="summary">
                    {{ other_recommended_item['description'] }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            <h3>
                晒单
            </h3>
            {% for posted_site, posted_list in item['posted_data'].items() %}
            <h4>
                来自“什么值得买”的晒单
            </h4>
            {% for posted_item in posted_list %}
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <img src="/static/img/square/{{ posted_item['thumbnail'] }}.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-xs-9 col-sm-10">
                    <p class="list_title">
                    <a href={{ posted_item['url'] }}>
                        {{ posted_item['title'] }}
                    </a>
                    </p>
                    <p class="summary">
                    {{ posted_item['description'] }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            <h3>
                评价
            </h3>
            {% for shopping_item in item['shopping_data'] %}
            {% if shopping_item['comment_list'] %}
            <h4>
                来自“{{ shopping_item['site_name'] }}”的评价
            </h4>
            {% for comment in shopping_item['comment_list'][:2] %}
            <blockquote>
                <p>
                {{ comment }}
                </p>
            </blockquote>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </body>
</html>
