{% extends "base.html" %}
{% block title %}您的订单{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <p>
        用餐日期 {{ date }}
        </p>
    </div>
    <div class="row">
        <p>
        菜品
        </p>
    </div>
    <div class="row">
        <table class="table table-striped">
            {% for order in order_list %}
            <tr>
                <td>
                    {{ order.dish_name }}
                </td>
                <td>
                    {{ order.qty}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <p>
        地址 {{ address }}
        </p>
    </div>
    <div class="row">
        <p>
        手机号 {{ mobile }}
        </p>
    </div>
    <div class="row">
        <p>
        我们已收到您的订单，会在{{ date }}日期中午11:30~12:00左右为您送达，如有疑问请致电17090314510.

        感谢您选择小灶！
        </p>
    </div>

</div>
{% endblock %}
